{{#each albums as |album|}}

  <!--
  Don't uncomment yet -->

 <!-- Developers, why are we using data-id and not just id? -->
  <div class="col-md-4 col-sm-6 {{album.id}}" data-id="{{album.id}}">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{album.title}}</h3><h6>{{album.artist}}</h6></div>
        <div class="panel-body">{{#if album.notes}}
          <p></p>
        {{else}}
          <p></p>
        {{/if}}
          <button id="edit-album" data-toggle="modal" data-target="#editModal" class="btn btn-default">Edit</button>
          <button id="delete-album" class="btn btn-default">Delete</button>
        </div>
    </div>
  </div>
{{/each}}
